<h4>Nos fournisseurs</h4>

<section>
  <div class="">
    <img src="images/LOU-2021.svg" alt="">
  </div>
  <div class="slidetext">
    CHAMPIGNONS : Lou Légumes <br>
    Landivy (53), Poilley (35)
  </div>
</section>

<section>
  <div>
    <img src="images/moulinecluse.png" alt="">
  </div>
  <div class="slidetext">
    FARINE DE BLE NOIR : Moulin de l'Ecluse <br>
    Pont-l'Abbé (29)
  </div>
</section>

<section>
  <div>
    <img src="images/oeufs_coquelin.webp" style="padding-top: 60px;" alt="">
  </div>
  <div class="slidetext">
    ŒUFS : SARL Œufs Coquelin <br>
    Louvigné du Désert (35)
  </div>
</section>

<section>
  <div>
    <img src="images/poulet_roti.png" style="padding-top: 60px;" alt="">
  </div>
  <div class="slidetext">
    POULET : EARL de Lorissais <br>
    Louvigné du Désert (35)
  </div>
</section>

<section>
  <div>
    <img src="images/pommesdeterre.webp" alt="">
  </div>
  <div class="slidetext">
    POMMES DE TERRE : GAEC du Bretail <br>
    La Bazouge du Désert (35)
  </div>
</section>

<section>
  <div>
    <img src="images/miel.jpg" style="padding-top: 30px;" alt="">
  </div>
  <div class="slidetext">
    MIEL : Anthony Coupé <br>
    Landivy (53)
  </div>
</section>
 