<div class="r-hstack">

  <iframe height="500px" width="500px"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.771242767122!2d-1.0343429!3d48.4801013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480943a0156de473%3A0x2962f13f825960ad!2sLa%20Landivysienne!5e0!3m2!1sen!2sfr!4v1713608297801!5m2!1sen!2sfr"
    class="preview r-stretch" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>

  <div class="r-vstack contact">
    <a href="tel:+33695227604"><img src="images/phone.png"/>06 95 22 76 04</a>
    <a href="tel:+33955073741"><img src="images/phone.png"/>09 55 07 37 41</a>
    <div class="adresse">
      La Landivysienne <br>
      5 grande rue <br>
      53190 Landivy
    </div>
  </div>

</div>

<style>
  .contact{
    font-size: 20pt;
  }

  .contact > a > img{
    width: 30px;
    height: 30px;
  }
</style>