<div class="navbar">
    <a href="#">La Landivysienne</a>
    <a href="#/1">Menu</a>
    <a href="#/2">Boissons</a>
    <a href="#/3">Évenements</a>
    <a href="#/4">Fournisseurs</a>
    <a href="#/5">Contact</a>
</div>

<style>
    .navbar{
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 0px;
        text-align: center; 
    }
    .navbar>a{
        font-size: 16pt;
        color: blanchedalmond;
        padding: 5px;
    }
</style>